ignore-build-scripts=false
onlyBuiltDependencies[]=@swc/core
onlyBuiltDependencies[]=@tarojs/binding
onlyBuiltDependencies[]=core-js-pure
onlyBuiltDependencies[]=core-js
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=swiper
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=unrs-resolver
